body{
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: 'Roboto', 'Times New Roman';
  display: flex;
  justify-content: center;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}